<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <title>Hogwart</title>
    <link rel="stylesheet" href="/style.css">
  </head>
  <body>
    <nav>
      <ul>
        <li>
          <a href="/hogwarts">Main Page</a>
        </li>
        <li><a href="/hogwarts/new">New Student</a></li>
        <li><a href="/hogwarts/houses">Student Houses</a></li>
        <li><a href="/hogwarts/students">Student List</a></li>

      </ul>
    </nav>
    <%= yield %>
  </body>
</html>
