nav ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
  overflow: hidden;
  background-color: #333;
}
li {
  color: white;
}
nav li {
  float: left;
}
label {
  color: white;
}
img{
  width: 13%;
  height: auto;
}
}
p {
  color: white;
}
nav li a {
  display: block;
  color: white;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
}

/* Change the link color to #111 (black) on hover */
nav li a:hover {
  background-color: #111;
}
/* body {
  background-image: url();

} */
h1 {
  text-shadow:;
  color: white;
  text-align: center;
}
body, html {
  height: 100%;
  /* The image used */
  background-image: url("img.jpg");

  /* Full height */
  height: 100%;

  /* Center and scale the image nicely */
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}
